<%= form_with(model: message, local: true) do |f| %>
  <a>came to task input process.</a>
        

  <%= f.label :status, 'ステイタス' %>
  <%= f.text_field :status %>
    
  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>
    
  <%= f.submit '登録' %>
          <%= render 'layouts/error_messages', model: f.object %>
<% end %>

