<h1>タスク一覧</h1>
<% if logged_in? %>
  <ul>
    <% @task.each do |task| %>
      <% if current_user == task.user %>
        <li><%= link_to task.id, task %> : <%= task.status %>:<%= task.content %></li>
        <%= link_to task.user.name, user_path(task.user) %>
          <span class="text-muted">登録日<%= task.created_at %></span>
        <%= link_to "Delete", task, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    <% end %>
    <%= paginate @task %>
  </ul>
  
  <%= link_to '新規タスクの登録', new_task_path %>
<% else %>
    <div class="text-center">
      <h1>Welcome to the Tasklists NOT logged-in</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
<% end %>
